:root {
    --background-color: #e0e8f4;
    --container-background-color: #d6e6f5;
    --container-border-color: #a8c0da;
    --button-background-color: #4d8cc1;
    --button-hover-color: #306992;
    --link-color: #1a496b;
    --link-hover-color: #1e5799;
}